/* TODO:

*/

/* Reset */

body, p, h1, h2, h3, table, thead, tbody, tfoot, tr, th, td, ul, div, section, span, img {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Шрифты */

/* @font-face {
    font-family: 'Roboto';
    font-display: swap;
    src:url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff'), 
    url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
} */

/* Скачано с интернета */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.eot');
    src: local('Roboto Medium Italic'), local('../fonts/Roboto-MediumItalic'),
        url('../fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-MediumItalic.woff') format('woff'),
        url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.eot');
    src: local('Roboto Italic'), local('../fonts/Roboto-Italic'),
        url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('../fonts/Roboto-Bold'),
        url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('../fonts/Roboto-Regular'),
        url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('../fonts/Roboto-Medium'),
        url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.eot');
    src: local('Roboto Bold Italic'), local('../fonts/Roboto-BoldItalic'),
        url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-BoldItalic.woff') format('woff'),
        url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic.eot');
    src: local('Roboto Thin Italic'), local('../fonts/Roboto-ThinItalic'),
        url('../fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-ThinItalic.woff') format('woff'),
        url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.eot');
    src: local('Roboto Black'), local('../fonts/Roboto-Black'),
        url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: local('Roboto Light'), local('../fonts/Roboto-Light'),
        url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.eot');
    src: local('Roboto Light Italic'), local('../fonts/Roboto-LightItalic'),
        url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BlackItalic.eot');
    src: local('Roboto Black Italic'), local('../fonts/Roboto-BlackItalic'),
        url('../fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-BlackItalic.woff') format('woff'),
        url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('../fonts/Roboto-Thin'),
        url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Thin.woff') format('woff'),
        url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}



/* Общие стили */

form {
    width: 400px;
    }

input, textarea, select {
    font-size: 19px;
    color: #6c6c6c;
    padding: 15px 11px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    width: 100%;
    outline: 0;
    transition: .2s;
    }
    
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/down-arrow.svg) 96% center / 5% no-repeat #fff;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
    }

input[type="radio"] + label, input[type="checkbox"] + label {
    font-size: 16px;
    padding-left: 23px;
    position: relative;
}

input[type="radio"] + label::before, input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
}
    
input[type="radio"] + label::before {
    border-radius: 100%;
}

input[type="textarea"] {
    height: 250px;
    resize: none;
}

input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    z-index: 1;
    box-shadow: none;
    border: 0;
}

input[type="file"] + label {
    font-size: 18px;
    color: #90d23d;
    position: relative;
    border: 1px solid #90d23d;
    padding: 15px;
    z-index: 2;
    background: #fff;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 5px;
}

input[type="button"], input[type="submit"], button {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    }


/* Сетка макета */

.container{
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
    padding: 2px 0px 0px;
}

.header{
    max-width: 1030px;
    margin: 50px auto 0px;
    height: 45px;
    color: #fff;
    font-weight: 100;
}

.greeting-container {
    position: relative;
}

.greeting {
    width: 516px;
    position: absolute;
    top: -128px;
    right: 165px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    padding: 31px 75px 42px 31px;   
}

.greeting__header {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 28px;
}

.greeting__text {
    font-size: 14px;
    font-weight: 100;
    margin-top: 16px;
    letter-spacing: 0.13px;
}



.advantages {
    max-width: 1030px;
    padding: 75px 0px;
    margin: 0px auto;
}

.advantages__header {
    font-size: 50px;
    margin-bottom: 120px;   
}

.advantages__feature {
    width: 300px;
    float: left;
    margin-right: 61px;
    text-align: center;
}

/* Исправляет поведение элементов float:left */
.advantages__feature-wrapper {
    overflow: hidden;
}


.advantages__feature:last-of-type {
    margin-right: 0px;
}

.advantages__image {
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 211px;
    margin-bottom: 36px;  
}

.advantages__image {
    transition: all 0.2s ease-out;
}
    
.advantages__image:hover{
    transform: scale(1.07);
}

.advantages__feature-header {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 15px;
}

.advantages__feature-text {
    font-size: 14px;
    font-weight: 100;
}

.gift {
    background: url(../images/backgroundTicket.png);
    height: 700px;
    position: relative;
    padding: 136px 164px 0px 504px;
    margin-bottom: 84px;
}

.gift__image {
    background: url(../images/backgroundGift.png);
    position: absolute;
    top: -65px;
    left: 170px;
    width: 330px;
    height: 330px;
    box-shadow: 10.5px 18.187px 12px 0px rgba(35, 31, 32, 0.55);
    z-index: 76;
    border-radius: 50%;
    background-color: rgb(251, 175, 22);      
}

.gift__header {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    line-height: 1.2;
    text-align: right;
    margin-bottom: 54px;
}

.gift__text {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 1.2;
    text-align: right;
    margin-bottom: 16px;
}

.gift__button {    
    border-radius: 15px;
    background-color: rgb(144, 210, 61);
    position: absolute;
    left: 981px;
    top: 471px;
    width: 220px;
    height: 55px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    padding-top: 18px;
}

.movie-table {
    width: 970px;
    margin: 0px auto 57px;
}

.movie-table__header {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 35px;
}

.movie-table__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    max-width: 670px;   
    margin-bottom: 76px;
}

.movie-table__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-table__movie-item { 
    width: 296px;
    height: 296px;
    margin-bottom: 37px;
    position: relative;
    overflow: hidden; 
}

.movie-table__image {
    vertical-align: bottom;
}

.movie-table__movie-description{
    position: absolute;
    height: 100%;
    bottom: -100%;
    background-color: rgba(144,210,61,0.8);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 22px 16px;
    transition: 0.5s;  
}

.movie-table__movie-item:hover .movie-table__movie-description {
    bottom: 0;
}

.movie-table__movie-header {
    font-size: 35px;
    color: #fff;
    font-weight: 900;
}

.movie-table__movie-header::after {
    content: "";
    display: block;
    width: 83px;
    border-bottom: 6px solid #fff;
    margin-top: 9px;
    margin-bottom: 12px;
} 

.movie-table__movie-text {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    flex: 1;
}

.movie-table__link {
    text-decoration: none;
}

.movie-table__soc-nets{
    margin-left: 9px;    
}


.footer__soc-nets {
    margin-bottom: 25px;
}

.footer__soc-net-icon {
    margin-right: 8px;    
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25); 
    border-radius: 50%;
}

.footer__soc-net-icon:hover {
    margin-right: 8px;    
    box-shadow: none;
}

.footer__soc-net-icon:last-of-type {
    margin-right: 0;
}

.footer__rights {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    line-height: 1.2;
    text-align: center;
}



/* Компоненты */
.header__logo{
    float: left;    
}

.header__location{
    margin: 16px 0 0 30px;
    float: right;
}

.header-nav {
    margin-top: 16px;    
    float: right;
}

.header-nav__item{
    display: inline-block;
    margin: 0 15px 0 0;
}

.header-nav__item-link{
    text-transform: uppercase;
    text-decoration-line: none;
    color: #fff;
}

.header-nav__item-link:hover {
    color: #90d23d;
    border-bottom: 1px solid #90d23d;
}

.block-top{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    height: 770px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}




.title {
    margin: 158px auto 360px;
    font-size: 50px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    line-height: 1.16;
    text-align: center;
}


.title__h1 {
    
    font-size: 80px;
    font-weight: 100;
  }
  

.movie-list{
    margin-top: 29px;
    margin-bottom: 112px;
    /* padding: 100px 0; */
}

.movie-list__header{
    font-weight: 700;
    font-size: 50px;
    font-family: "Roboto";
    color: rgb(37, 37, 37);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 78px;
}

.movie-list__table{
    margin: 0 auto;
    width: 1030px;        
    border-collapse: collapse; 
}

.movie-list__table a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.movie-list__table tr:nth-child(odd){
    background-color: rgb(55, 55, 55);
}

.movie-list__table tr:nth-child(even){
    background-color: rgb(75, 77, 79);
}

.movie-list__table tr:nth-child(3n){
    background-color: #6c6c6c;
}

.movie-list__thead th{
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    vertical-align: top;
    background-color: rgb(163, 204, 64);    
    padding: 20px 0 19px 0;    
}

.movie-list__thead th:first-child{
    border-top-left-radius: 15px;
    width: 230px;
}

.movie-list__thead th:last-child{
    border-top-right-radius: 15px;
    width: 130px;
}


.movie-list__tbody td{
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 1.24;
    vertical-align: top;
    padding: 22px 0px;   
}

.movie-list__tbody td:nth-child(3){
    padding-left: 10px;
}



.movie-list__tbody td:first-child{
    text-align: center;
}

.movie-list__tbody td:last-child{
    padding: 20px 0 16px 0;
    text-align: center;
}

.movie-list__tfoot{
    font-weight: 300;
}

.movie-list__tfoot td{ 
    font-size: 14px;
    color: rgb(36, 36, 36);
    line-height: 1.2;
    text-align: center;
    background-color: #fff;
    padding: 38px 102px;
}


.movie-list__tbody tr:last-child td:first-child{
    border-bottom-left-radius: 15px;
}

.movie-list__tbody tr:last-child td:last-child{
    border-bottom-right-radius: 15px;
}

/* table, th, td {
    border: 1px solid #fff;
} */

.movie-list__triangle-up {
    display: inline-block;
    width: 0; 
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #fff;
    margin-left: 10px; 
}

.movie-list__triangle-down {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;    
    border-top: 20px solid #fff;
    margin-left: 10px; 
}
  
.footer__map {
    height: 450px;
    background: url('../images/map.png');
}

.footer__rights-soc-nets {   
    background-color: rgb(144, 210, 61);    
    height: 220px;
    text-align: center;
    padding: 60px 0;
}

.order-form {
      display: none;
}
  
  /* Медиа - правила */
